Name: <%= @familymember.name %> <br>
Relationship: <%= @familymember.relationship %> <br>
Birthdate: <%= @familymember.birthdate %> <br>


<a href = "/familymembers/<%=@familymember.id%>/edit" class="fun btn light-blue lighten-3"><i class="material-icons">edit</i>Edit </a><br>

<div style="margin-top: 15px" >
<form method="POST" action="/familymembers/<%=@familymember.id %>">
<input type="hidden" value="DELETE" name="_method">
<input type="submit" value="delete" class="fun btn light-blue lighten-3">
</form>
</div>

